:root {
  background: #8e44ad;
  font: 1em sans-serif;
  color: #FFF;
}
body {
  margin: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Speedometer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vmin;
  height: 100vmin;
}
.Speedometer-status {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: 5vmin;
  height: 5vmin;
}
.Speedometer-led {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 50%;
  color: white;
  background: currentColor;
  border: 2px solid white;
  transition: background .5s;
}
.Speedometer-led--on {
  color: #8e44ad;
}
.Speedometer-led--on::before {
  content: '';
  position: absolute; z-index: -1;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 50%;
  border: 1px solid white;
  animation: glow 3s infinite;
}
@keyframes glow {
  50%, to {
    transform: scale(3);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
}
.Speedometer-accuracy {
  position: absolute;
  top: -100%; left: -100%; right: -100%; bottom: -100%;
  border-radius: 50%;
  background: rgba(0,0,0,.15);
  transition: transform .5s;
}
.Speedometer-speed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 35vmin;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}
.Speedometer-unit {
  display: block;
  font-size: 1rem;
}
.Speedometer-speedo {
  position: absolute;
  z-index: -1;
  top: 10vmin; left: 10vmin; right: 10vmin; bottom: 10vmin;
  background: #2ecc71;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,.7), 0 5px 10px rgba(0,0,0,.5), 0 10px 20px rgba(0,0,0,.3);
}
.Speedometer-arrow {
  position: absolute;
  top: 50%; left: calc(50% - 10px);
  width: 20px;
  height: 50%;
  transform-origin: 50% 0;
  transition: transform .5s;
  background: #1a7340; /* fallback */
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22gr%22%20x2%3D%220%22%20y2%3D%221%22%3E%3Cstop%20offset%3D%220%22%20%20stop-color%3D%22transparent%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22black%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M0%200L1%200%20.5%201Z%22%20fill%3D%22url(%23gr)%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") 0 0 / 100% 100%;
}

.rsbc-switch-button {
  position: relative;
  line-height: 100%;
  display: block;
  vertical-align: middle;
  margin: 0;
  box-sizing: border-box
}
.rsbc-switch-button label {
  font-size: 5vmin;
  cursor: pointer
}
.rsbc-switch-button input[type="checkbox"] {
  position: absolute;
  display: none;
}
.rsbc-switch-button > label:first-child {
  display: inline-block;
  text-align: right;
  margin: 0 6px 0 12px
}
.rsbc-switch-button label + label {
  margin-left: 6px
}
.rsbc-switch-button input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box
}
.rsbc-switch-button input[type="checkbox"] + label {
  padding: 2px;
  width: 15vmin;
  height: 7.5vmin;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 7.5vmin;
  transition: background .4s
}
.rsbc-switch-button input[type="checkbox"] + label:before,
.rsbc-switch-button input[type="checkbox"] + label:after {
  display: inline-block;
  position: absolute;
  content: ""
}
.rsbc-switch-button input[type="checkbox"] + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #8e44ad;
  border-radius: 7.5vmin;
  transition: background .4s
}
.rsbc-switch-button input[type="checkbox"] + label:after {
  top: 1.25vmin;
  left: 1.25vmin;
  bottom: 1.25vmin;
  width: 5vmin;
  background-color: #fff;
  border-radius: 50%;
  transition: transform .4s,background .4s
}
.rsbc-switch-button input[type="checkbox"]:checked + label:after {
  transform: translate(7.5vmin);
}
