:root {
  background: #8e44ad;
  font: 1em sans-serif;
  color: #FFF;
}
body {
  margin: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Speedometer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vmin;
  height: 100vmin;
}
.Speedometer-status {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  transition: background .5s;
}
.Speedometer-status--on {
  background: #8e44ad;
}
.Speedometer-speed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 35vmin;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}
.Speedometer-unit {
  display: block;
  font-size: 1rem;
}
.Speedometer-speedo {
  position: absolute;
  z-index: -1;
  top: 10vmin; left: 10vmin; right: 10vmin; bottom: 10vmin;
  background: #2ecc71;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,.7), 0 5px 10px rgba(0,0,0,.5), 0 10px 20px rgba(0,0,0,.3);
}
.Speedometer-arrow {
  position: absolute;
  top: 50%; left: calc(50% - 10px);
  width: 20px;
  height: 50%;
  transform-origin: 50% 0;
  transition: transform .5s;
  background: linear-gradient(transparent, black);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.rsbc-switch-button {
  position: relative;
  line-height: 100%;
  display: block;
  vertical-align: middle;
  margin: 0;
  box-sizing: border-box
}
.rsbc-switch-button label {
  cursor: pointer
}
.rsbc-switch-button input[type="checkbox"] {
  position: absolute;
  display: none;
}
.rsbc-switch-button > label:first-child {
  display: inline-block;
  text-align: right;
  margin: 0 6px 0 12px
}
.rsbc-switch-button label + label {
  margin-left: 6px
}
.rsbc-switch-button input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box
}
.rsbc-switch-button input[type="checkbox"] + label {
  padding: 2px;
  width: 48px;
  height: 24px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 60px;
  transition: background .4s
}
.rsbc-switch-button:hover input[type="checkbox"] + label {
  
}
.rsbc-switch-button input[type="checkbox"] + label:before,
.rsbc-switch-button input[type="checkbox"] + label:after {
  display: inline-block;
  position: absolute;
  content: ""
}
.rsbc-switch-button input[type="checkbox"] + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #8e44ad;
  border-radius: 60px;
  transition: background .4s
}
.rsbc-switch-button:hover input[type="checkbox"] + label:before {
  background-color: #222;
}
.rsbc-switch-button input[type="checkbox"] + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin .4s,background .4s
}
.rsbc-switch-button input[type="checkbox"]:checked + label:after {
  margin-left: 24px;
}
